* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: arial, sans-sarif;
  background-color: rgba(213, 235, 88, 0.959);
}
.hero{
 background-image: 
  radial-gradient(circle at top left, rgba(0, 0, 0, 0.4), transparent 60%),
  radial-gradient(circle at top right, rgba(0, 0, 0, 0.4), transparent 60%),
  radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.4), transparent 60%),
  radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.4), transparent 60%),
  url('./images/hero_bg.jpg.jpeg');

  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#logo{
  height: 2rem;
  width: 7rem;
}
.nav-list{
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-list li a{
  text-decoration: none;
  color: #f3f2f2;
}

.btn-nav{
  background-color:RGB(255 82 0) ;
  padding: 10px;
  border-radius: 10px;
  color: #f3f2f2;
  text-size-adjust:bold;
}
.hero-content{
  text-align: center;
  color: #f3f2f2;
  margin: 80px;
}
.treat{
  font-size: 80px;
}
.btn-explore{
  background-color: rgb(255,82,0);
  padding: 20px;
  border-radius: 20px;
  outline: none;
  margin-top: 20px;
  color: antiquewhite;
}
.popular-foods {
  padding: 40px 20px;
  background-color: rgb(254,226,179);
  min-height: 100vh;
  display:flex ;
}